body {
	background: darkred;
}

#app {
    width: 610px;
    margin: 50px 20px 20px;
    text-align: left;
    padding: 20px 40px;
    border: solid #ddd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px; 
    margin-left: auto;
    margin-right: auto;
    font: 16px/34px Helvetica;
}